.headercontainer {
  height: 12vh;
  width: 100%;
  color: #fff;
  cursor: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 998;
  background: transparent;

  @media screen and (max-width: 768px) {
    justify-content: center;
    flex-direction: column;
    height: 16vh;
    gap: 1rem;
  }

  .left {
    .logo {
      @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 7vh;
      }
      .logoimg {
        height: 60px;
        width: 60px;
        object-fit: contain;
        position: relative;
        margin-left: 10rem;

        @media screen and (max-width: 768px) {
          width: 130px;
          bottom: -1rem;
          margin-left: 0;
        }
      }
    }
  }

  .right {
    display: flex;
    gap: 5rem;
    position: absolute;
    right: 10rem;
    justify-content: center;
    align-items: center;

    .a {
      color: #fff;
      text-decoration: none;
      font-size: 1.5rem;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      letter-spacing: 1px;
      font-family: "roboto";
      font-weight: 500;

      @media screen and (max-width: 768px) {
        font-size: 1.7rem;
        margin: 0 0.5rem;
      }
    }

    .a:hover {
      color: #ff005c;
    }

    @media screen and (max-width: 768px) {
      margin: auto;
      position: relative;
      right: 0;
      height: 7vh;
      width: 100vw;
      justify-content: center;
      align-items: center;
      gap: 2rem;
    }
  }
}
